@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway');

/* @import "~vue-sidebar-modal/dist/vue-sidebar-modal"; */

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
small,
em {
    font-family: Raleway, sans-serif;
    color: #797979
}


/** GENERAL **/


/* .logo-fondo {
    background-image: url(../img/normal_logo.png);
    @apply bg-fixed bg-no-repeat bg-center;
} */

.orange {
    color: #fb6e15;
}

body {
    background-color: #FEFEFE;
}

header {
    background-image: url("../img/fondo-ultima-web.jpg");
}

h2 {
    font-size: 1.5625rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 20px;
}

h4 {
    font-size: 1rem;
    color: black;
}

.ck-editor__editable_inline {
    min-height: 400px;
}

.items-show .ck.ck-toolbar,
.items-list .ck.ck-toolbar {
    display: none;
}

.items-list .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
    border: none;
}


/** Flash Messages **/

.fade-enter-active,
.fade-leave-active {
    transition: opacity 1s
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active in <2.1.8 */

{
    opacity: 0
}


/** Sidebar Modal  **/

.slidein {
    max-width: 600px;
    padding: 2em 3em;
    position: fixed;
    z-index: 9999;
    top: 65px;
    right: 0;
    background: #ddd;
    height: 100%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    transition: all 1s ease-in-out;
}


/* before the element is shown, start off the screen to the right */

.slide-enter,
.slide-leave-active {
    right: -100%;
    transition: all 3s ease-out
}

.close-btn {
    border: none;
    font-weight: bold;
    font-size: 2em;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5em;
}

.toggle {
    margin: 1em;
}

.modalButton {
    padding: .5em 1em;
    border-radius: 3em;
    font-size: 1.1em;
}


/** Middle Modal **/

.slidein-middle {
    max-width: 600px;
    padding: 2em 3em;
    position: fixed;
    z-index: 9999;
    top: 65px;
    background: #ddd;
    height: 100%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    transition: all 1s ease-in-out;
}


/** Footer **/

.container-rrss h6 {
    font-weight: 600;
}

.fa-home,
.fa-envelope,
.fa-phone {
    margin-right: 0.5em;
}

.footer-container,
.footer-copyright {
    background-color: #212121;
}

.footer-container strong {
    color: white;
}

.footer-info,
.footer-links {
    border-right: 1px solid #3b3b3b;
}

.footer-links .footer-link {
    position: relative;
}

.footer-container a,
.footer-container p {
    color: #a2a2a2;
}

.footer-links a:hover,
.footer-links p:hover {
    color: #fff;
}

.footer-links a:before,
.footer-links p:before,
.footer-link p:before {
    content: "";
    display: inline-block;
    height: 48%;
    position: absolute;
    left: -10px;
    border-left: 3px solid #fb6e15;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity .15s ease-out;
    opacity: 0;
}

.footer-links a:hover:before,
.footer-links p:hover:before,
.footer-link p:hover:before {
    opacity: 1;
}

.footer-contact svg {
    color: white;
}

.footer-contact a {
    color: #fb6e15
}

.footer-link {
    margin-bottom: 1.5rem;
}

.footer-icons {
    margin-left: 0.2em;
}


/** DataTable **/

.dataTables_wrapper .dataTables_length select {
    padding-right: 28px !important;
}

.dataTables_wrapper {
    margin-top: 2em;
}


/* .check-all .sorting_asc,
.check-all .sorting_desc,
.check-all .sorting {
    background-image: none !important;
} */

table .check-all {
    text-align: left;
    padding-left: 10px !important;
}

table th {
    text-align: left;
}

[type='checkbox'],
[type='radio'] {
    color: #fb6e15;
}

[type='checkbox']:focus,
[type='radio']:focus {
    --tw-ring-color: #fb6e15;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    border-radius: 10px;
}