@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway');
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
small,
em {
    font-family: Raleway, sans-serif;
    color: #797979
}

.logo-fondo {
    background-image: url(../img/normal_logo.png);
    @apply bg-fixed bg-no-repeat bg-center;
}

.orange {
    color: #fb6e15;
}

body {
    background-color: #FEFEFE;
}

header {
    background-image: url("../img/fondo-ultima-web.jpg");
}

h2 {
    font-size: 1.5625rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 20px;
}

h4 {
    font-size: 1rem;
    color: black;
}

.ck-editor__editable_inline {
    min-height: 400px;
}

.projects-show .ck.ck-toolbar {
    display: none;
}